In [56]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [57]:
# Read the data into a Pandas DataFrame
diabetes_df = pd.read_csv('diabetes.csv')

In [58]:
diabetes_df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [59]:
#combining prediabetic and diabetic values 
diabetes_df['Diabetes_012'] = diabetes_df['Diabetes_012'].replace(1, 2)

# Converting diabetic value to 1 
diabetes_df['Diabetes_012'] = diabetes_df['Diabetes_012'].replace(2, 1)

#double checking we only have 2 values now in the diabetes column
diabetes_df['Diabetes_012'].value_counts()

Diabetes_012
0.0    213703
1.0     39977
Name: count, dtype: int64

In [60]:
#fixing education column 
diabetes_df['Education'] = diabetes_df['Education'].replace({1: 3, 2: 3})

#readjusting column values
diabetes_df['Education'] = diabetes_df['Education'].replace({3: 1, 4: 2, 5: 3, 6: 4 })

#checking values 
diabetes_df['Education'].value_counts()

Education
4.0    107325
3.0     69910
2.0     62750
1.0     13695
Name: count, dtype: int64

In [61]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [62]:
# Fill NaN values with a specific integer (e.g., 0) before converting
diabetes_df = diabetes_df.fillna(0)

# Convert relevant float columns to integer type
float_columns = [
    'Diabetes_012', 'HighBP', 'HighChol', 'CholCheck', 'Smoker',
    'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits',
    'Veggies', 'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost',
    'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age',
    'Education', 'Income'
]

# Convert to int
diabetes_df[float_columns] = diabetes_df[float_columns].astype(int)

# Check the updated DataFrame
print(diabetes_df.dtypes)
print(diabetes_df.head())

Diabetes_012              int64
HighBP                    int64
HighChol                  int64
CholCheck                 int64
BMI                     float64
Smoker                    int64
Stroke                    int64
HeartDiseaseorAttack      int64
PhysActivity              int64
Fruits                    int64
Veggies                   int64
HvyAlcoholConsump         int64
AnyHealthcare             int64
NoDocbcCost               int64
GenHlth                   int64
MentHlth                  int64
PhysHlth                  int64
DiffWalk                  int64
Sex                       int64
Age                       int64
Education                 int64
Income                    int64
dtype: object
   Diabetes_012  HighBP  HighChol  CholCheck   BMI  Smoker  Stroke  \
0             0       1         1          1  40.0       1       0
1             0       0         0          0  25.0       1       0
2             0       1         1          1  28.0       0       0
3             0       1         0          1  27.0       0       0
4             0       1         1          1  24.0       0       0

   HeartDiseaseorAttack  PhysActivity  Fruits  ...  AnyHealthcare  \
0                     0             0       0  ...              1
1                     0             1       0  ...              0
2                     0             0       1  ...              1
3                     0             1       1  ...              1
4                     0             1       1  ...              1

   NoDocbcCost  GenHlth  MentHlth  PhysHlth  DiffWalk  Sex  Age  Education  \
0            0        5        18        15         1    0    9          2
1            1        3         0         0         0    0    7          4
2            1        5        30        30         1    0    9          2
3            0        2         0         0         0    0   11          1
4            0        2         3         0         0    0   11          3

   Income
0       3
1       1
2       8
3       6
4       4

[5 rows x 22 columns]

In [63]:
# Dictionaries to convert column values from binary to strings
# Create a mapping for each column

# Diabetes column
diabetes_map = {0: 'not diabetic', 1: 'diabetic'}

# HighBP column
bp_map = {0: 'no', 1: 'yes'}

# HighChol column
chol_map = {0: 'no', 1: 'yes'}

# CholCheck column
cholcheck_map = {0: 'no', 1: 'yes'}

# Smoker column
smoke_map = {0: 'no', 1: 'yes'}

# Stroke column
stroke_map = {0: 'no', 1: 'yes'}

# HeartDiseaseorAttack column
heart_map = {0: 'no', 1: 'yes'}

# PhysActivity column
activity_map = {0: 'no', 1: 'yes'}

# Fruits column
fruit_map = {0: 'no', 1: 'yes'}

# Veggies column
veggies_map = {0: 'no', 1: 'yes'}

# HvyAlcoholConsump column
alcohol_map = {0: 'no', 1: 'yes'}

# AnyHealthcare column
healthcare_map = {0: 'none', 1: 'has healthcare'}

# NoDocbcCost column
dr_map = {0: 'no', 1: 'yes'}

# General health column
health_map = {1: 'excellent', 2: 'very good', 3: 'good', 4: 'fair', 5: 'poor'}

# Difficulty walking column
walking_map = {0: 'no difficulty', 1: 'difficult'}

# Sex column
sex_map = {0: 'female', 1: 'male'}

# Age column
age_map = {1: '18-24', 2: '24-29', 3: '30-34', 4: '35-39', 5: '40-44', 6: '45-49',
           7: '50-54', 8: '55-59', 9: '60-64', 10: '65-69', 11: '70-74', 12: '75-79',
           13: '80+'}

# Education column
edu_map = {1: 'some highschool', 2: 'graduated highschool', 3: 'some college', 4: 'graduated college'}

# Income column
income_map = {1: 'Less than $10,000', 2: '$10,000 - $14,999', 3: '$15,000 - $19,999', 
              4: '$20,000 - $24,999', 5: '$25,000 - $34,999', 6: '$35,000 - $49,999', 
              7: '$50,000 - $74,999', 8: '$75,000 or more'}


# Now apply the mappings again
diabetes_df.replace({
    'Diabetes_012': diabetes_map,
    'HighBP': bp_map,
    'HighChol': chol_map,
    'CholCheck': cholcheck_map,
    'Smoker': smoke_map,
    'Stroke': stroke_map,
    'HeartDiseaseorAttack': heart_map,
    'PhysActivity': activity_map,
    'Fruits': fruit_map,
    'Veggies': veggies_map,
    'HvyAlcoholConsump': alcohol_map,
    'AnyHealthcare': healthcare_map,
    'NoDocbcCost': dr_map,
    'GenHlth': health_map,
    'DiffWalk': walking_map,
    'Sex': sex_map,
    'Age': age_map,
    'Education': edu_map,
    'Income': income_map
}, inplace=True)

# Check the resulting DataFrame
print(diabetes_df.head())

   Diabetes_012 HighBP HighChol CholCheck   BMI Smoker Stroke  \
0  not diabetic    yes      yes       yes  40.0    yes     no
1  not diabetic     no       no        no  25.0    yes     no
2  not diabetic    yes      yes       yes  28.0     no     no
3  not diabetic    yes       no       yes  27.0     no     no
4  not diabetic    yes      yes       yes  24.0     no     no

  HeartDiseaseorAttack PhysActivity Fruits  ...   AnyHealthcare NoDocbcCost  \
0                   no           no     no  ...  has healthcare          no
1                   no          yes     no  ...            none         yes
2                   no           no    yes  ...  has healthcare         yes
3                   no          yes    yes  ...  has healthcare          no
4                   no          yes    yes  ...  has healthcare          no

     GenHlth MentHlth PhysHlth       DiffWalk     Sex    Age  \
0       poor       18       15      difficult  female  60-64
1       good        0        0  no difficulty  female  50-54
2       poor       30       30      difficult  female  60-64
3  very good        0        0  no difficulty  female  70-74
4  very good        3        0  no difficulty  female  70-74

              Education             Income
0  graduated highschool  $15,000 - $19,999
1     graduated college  Less than $10,000
2  graduated highschool    $75,000 or more
3       some highschool  $35,000 - $49,999
4          some college  $20,000 - $24,999

[5 rows x 22 columns]

In [64]:

#column renaming 
diabetes_df.rename(columns={'Diabetes_012': 'Diabetes Status', 'CholCheck': 'Chol. Check (5 years)', 
                           'Stroke': 'Prev. Stroke', 'HeartDiseaseorAttack': 'Prev. Heart Disease or Attack', 
                           'PhysActivity': 'Physical Activity (30 Days)',  'Fruits': 'Fruit Consumption (daily)',
                           'Veggies': 'Veggie Consumption (daily)','HvyAlcoholConsump': 'Heavy Alcohol Consumption', 
                           'AnyHealthcare': 'Healthcare',  'NoDocbcCost': 'Needed but Unable to afford Dr.', 
                           'GenHlth': 'Health Rating',  'MentHlth': 'Bad Mental Health Days (30 days)', 
                           'PhysHlth': 'Bad Phys. Health Days (30 days)',  'DiffWalk': 'Walking'}, inplace=True)

diabetes_df.head()

,Diabetes Status,HighBP,HighChol,Chol. Check (5 years),BMI,Smoker,Prev. Stroke,Prev. Heart Disease or Attack,Physical Activity (30 Days),Fruit Consumption (daily),...,Healthcare,Needed but Unable to afford Dr.,Health Rating,Bad Mental Health Days (30 days),Bad Phys. Health Days (30 days),Walking,Sex,Age,Education,Income
0,not diabetic,yes,yes,yes,40.0,yes,no,no,no,no,...,has healthcare,no,poor,18,15,difficult,female,60-64,graduated highschool,"$15,000 - $19,999"
1,not diabetic,no,no,no,25.0,yes,no,no,yes,no,...,none,yes,good,0,0,no difficulty,female,50-54,graduated college,"Less than $10,000"
2,not diabetic,yes,yes,yes,28.0,no,no,no,no,yes,...,has healthcare,yes,poor,30,30,difficult,female,60-64,graduated highschool,"$75,000 or more"
3,not diabetic,yes,no,yes,27.0,no,no,no,yes,yes,...,has healthcare,no,very good,0,0,no difficulty,female,70-74,some highschool,"$35,000 - $49,999"
4,not diabetic,yes,yes,yes,24.0,no,no,no,yes,yes,...,has healthcare,no,very good,3,0,no difficulty,female,70-74,some college,"$20,000 - $24,999"

In [65]:
diabetes_df.head()

,Diabetes Status,HighBP,HighChol,Chol. Check (5 years),BMI,Smoker,Prev. Stroke,Prev. Heart Disease or Attack,Physical Activity (30 Days),Fruit Consumption (daily),...,Healthcare,Needed but Unable to afford Dr.,Health Rating,Bad Mental Health Days (30 days),Bad Phys. Health Days (30 days),Walking,Sex,Age,Education,Income
0,not diabetic,yes,yes,yes,40.0,yes,no,no,no,no,...,has healthcare,no,poor,18,15,difficult,female,60-64,graduated highschool,"$15,000 - $19,999"
1,not diabetic,no,no,no,25.0,yes,no,no,yes,no,...,none,yes,good,0,0,no difficulty,female,50-54,graduated college,"Less than $10,000"
2,not diabetic,yes,yes,yes,28.0,no,no,no,no,yes,...,has healthcare,yes,poor,30,30,difficult,female,60-64,graduated highschool,"$75,000 or more"
3,not diabetic,yes,no,yes,27.0,no,no,no,yes,yes,...,has healthcare,no,very good,0,0,no difficulty,female,70-74,some highschool,"$35,000 - $49,999"
4,not diabetic,yes,yes,yes,24.0,no,no,no,yes,yes,...,has healthcare,no,very good,3,0,no difficulty,female,70-74,some college,"$20,000 - $24,999"

In [66]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Diabetes Status                   253680 non-null  object
 1   HighBP                            253680 non-null  object
 2   HighChol                          253680 non-null  object
 3   Chol. Check (5 years)             253680 non-null  object
 4   BMI                               253680 non-null  float64
 5   Smoker                            253680 non-null  object
 6   Prev. Stroke                      253680 non-null  object
 7   Prev. Heart Disease or Attack     253680 non-null  object
 8   Physical Activity (30 Days)       253680 non-null  object
 9   Fruit Consumption (daily)         253680 non-null  object
 10  Veggie Consumption (daily)        253680 non-null  object
 11  Heavy Alcohol Consumption         253680 non-null  object
 12  Healthcare                        253680 non-null  object
 13  Needed but Unable to afford Dr.   253680 non-null  object
 14  Health Rating                     253680 non-null  object
 15  Bad Mental Health Days (30 days)  253680 non-null  int64
 16  Bad Phys. Health Days (30 days)   253680 non-null  int64
 17  Walking                           253680 non-null  object
 18  Sex                               253680 non-null  object
 19  Age                               253680 non-null  object
 20  Education                         253680 non-null  object
 21  Income                            253680 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 42.6+ MB

In [67]:
# Export the DataFrame as a CSV file.
diabetes_df.to_csv("tableau_diabetes.csv", index=False)